/*001 Warm Flame*/
.warm_flame {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

/*002 Night Fade*/
.night_fade {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

/*003 Spring Warmth*/
.spring_warmth {
    background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
}

/*004 Juicy Peach*/
.juicy_peach {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

/*005 Young Passion*/
.young_passion {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

/*006 Lady Lips*/
.lady_lips {
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

/*007 Sunny Morning*/
.sunny_morning {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

/*008 Rainy Ashville*/
.rainy_ashville {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

/*009 Frozen Dreams*/
.frozen_dreams {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}