body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.inputDiv {
    display: flex;
    align-items: center;
    width: 90%;
    height: 45%;
    margin: 10px 0;
}

.selectDiv {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px 0;
}

.outputDiv {
    display: flex;
    align-items: center;
    height: 40%;
    width: 90%;
    margin: 10px 0;
}

label {
    min-width: 80px;
    margin-right: 10px;
    height: 100%;
    align-content: center;
}

.inputText {
    flex: 1;
    padding: 10px;
    border: 1px solid #94b76c;
    border-radius: 4px;
    height: 100%;
}

.inputText:focus,
.inputText:hover,
.inputText:active {
    border: 1px solid #57aa7f;
    outline: 2px solid #57aa7f;
}

.outputText {
    flex: 1;
    padding: 10px;
    border: 1px solid #94b76c;
    border-radius: 4px;
    height: 90%;
}

.outputText:focus,
.outputText:hover,
.outputText:active {
    border: 1px solid #57aa7f;
    outline: 2px solid #57aa7f;
}

.selectInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #94b76c;
    border-radius: 4px;
}

.selectInput:focus,
.selectInput:hover,
.selectInput:active {
    border: 1px solid #57aa7f;
    outline: 2px solid #57aa7f;
}

button {
    padding: 10px 20px;
    background-color: #94b76c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #57aa7f;
}